---
import type { CollectionEntry } from "astro:content";
import TechList from "./TechList.astro";

type Props = {
	explore: CollectionEntry<"explore">;
	withDesc?: boolean;
};

const { explore } = Astro.props;
---

<a
	href={`/explore/${explore.slug}`}
	class="flex w-full flex-col gap-2 rounded-lg bg-accent-2/10 pb-2 hover:bg-accent-2/20"
	rel="prefetch"
	transition:name={explore.data.title}
>
	<img
		class="h-40 w-full max-w-full rounded-lg object-cover object-center"
		src={explore.data.coverImage.src}
		alt={explore.data.coverImage.alt}
		width="40px"
		height="40px"
		loading="lazy"
	/>

	<p class="p-2">{explore.data.title}</p>
	<TechList class="p-2" techs={explore.data.techs} as="span" />
</a>
