---
import type { CollectionEntry } from "astro:content";

type Props = {
	portfolio: CollectionEntry<"portfolio">;
	withDesc?: boolean;
};

const { portfolio } = Astro.props;
---

<a
	href={`/portfolios/${portfolio.slug}`}
	class="cactus-link"
	rel="prefetch"
	transition:name={portfolio.data.coverImage.src}
>
	<img
		class="h-40 w-full max-w-full rounded-lg object-cover object-center"
		src={portfolio.data.coverImage.src}
		alt={portfolio.data.coverImage.alt}
		width="40px"
		height="40px"
		loading="lazy"
	/>
	<p class="p-2">{portfolio.data.title}</p>
</a>
