---
import type { Page, GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import PageLayout from "@/layouts/Base";
import ExplorePreview from "@/components/blog/ExplorePreview";
import Pagination from "@/components/Paginator";
import { getAllExplores, getUniqueTags, sortMDByDate } from "@/utils";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
	const allExplores = await getAllExplores();
	const allExploresByDate = sortMDByDate(allExplores);
	const uniqueTags = getUniqueTags(allExploresByDate);

	return uniqueTags.flatMap((tag) => {
		const filterPosts = allExploresByDate.filter((post) => post.data.tags.includes(tag));
		return paginate(filterPosts, {
			params: { tag },
			pageSize: 10,
		});
	});
};

interface Props {
	page: Page<CollectionEntry<"post">>;
}

const { page } = Astro.props;
const { tag } = Astro.params;

const meta = {
	title: `Tag: ${tag}`,
	description: `View all posts with the tag - ${tag}`,
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			url: page.url.prev,
			text: `← Previous Tags`,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			url: page.url.next,
			text: `Next Tags →`,
		},
	}),
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6 flex items-center">
		<a href="/posts/tags/" class="text-accent sm:hover:underline">Tags</a>
		<span class="me-3 ms-2">→</span>
		<span class="text-xl">#{tag}</span>
	</h1>
	<section aria-label="Blog post list">
		<div
			aria-label="Blog explore list"
			class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3"
		>
			{
				page.data.map((e) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<ExplorePreview explore={e} />
					</li>
				))
			}
		</div>
		<Pagination {...paginationProps} />
	</section>
</PageLayout>
